/*-------VARIABLES--------*/
/*Couleurs*/
$rouge : #D03423;
$vert: #045D62;
$bleu: #2B2D42;
$noir: #161219;
$gris: #CED0CE;
$blanc: #FDFFFF;
$rougeHover: #972215;
$gradientTitle: linear-gradient(90deg, #2B2D42 0%, #045D62 100%);
/*Marges*/
$marginDesktop : 120px;
$marginMobile : 60px;
/*Font Family*/
$fontTitre : "Staastliches";
$fontText : "Raleway";

